
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid nexamind-background-color">
    <h1>Category</h1>

    <div class="row">
        <div class="col-lg-3">
            <a href="#" class="d-block mb-4 h-100">
                <i class="fa fa-car text-danger" style="font-size:48px;" aria-hidden="true"></i>

            </a>
        </div>
        <div class="col-lg-3">
            <a href="#" class="d-block mb-4 h-100">
                <i class="fa fa-book text-primary" style="font-size:48px;" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#" class="d-block mb-4 h-100">
                <i class="fa fa-film text-success" style="font-size:48px;"  aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#" class="d-block mb-4 h-100">
                <i class="fa fa-laptop text-secondary" style="font-size:48px;" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#" class="d-block mb-4 h-100">
                <i class="fa fa-car bg-danger nexamind-font-size-48" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-lg-3">
            <a href="#" class="d-block mb-4 h-100">
                <i class="fa fa-binoculars text-warning" style="font-size:48px;" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

