
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="nexamind-text-color">Settings</h1>

<div class="container">
    <div class="row jumbotron-fluid">
        <div class="col-xs-6">
            <h3 class="nexamind-text-color">Night Mode</h3>
            <p class="nexamind-text-color">Turn on the Night mode in low light</p>
        </div>
        <div class="col-xs-6 float-right">
            <partial name="~/Views/Utility/NexamindToggleSwitch.cshtml" />

        </div>
    </div>
</div>



