
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="nexamind-text-color">Settings</h1>
<br /><br />

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-4 col-md-6 col-lg-6 col-xl-6">
            <h3 class="nexamind-text-color">Night Mode</h3>
            <p class="nexamind-text-color">Turn on the Night mode in low light</p>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-4 col-lg-4 col-xl-4"></div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <partial name="~/Views/Utility/NexamindToggleSwitch.cshtml" />

        </div>
    </div>

    <hr class="nexamind-hr-color"/>
    <div class="row">
        <div class="col-xs-6">
            <h3 class="nexamind-text-color">Logout</h3>
            <p class="nexamind-text-color">Logout everytime if other people uses this device</p>
        </div>
        <div class="col-xs-6">
            <a href="#" onclick="signOut();" class="nexamind-signout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>



