@model Nexamind.ViewModel.UserViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container">
    <br /><br />
          <div class="row">
              <div class="col-md-4 col-lg-6 col-xl-6"></div>
              <div class="col-xs-12 col-md-8 col-lg-6 col-xl-6">
                  <div class="jumbotron">
                      <div>
                          <img src="~/images/NM_logo.png" alt="Nexamind Logo" style="max-height:200px;" class="img-fluid rounded mx-auto d-block" />
                      </div>
                      <form asp-controller="Account" asp-action="Login" method="post">
                          <div class="form-group">
                              <label for="usr">Username:</label>
                              <input asp-for="Email" class="form-control">
                              <span asp-validation-for="Email" class="text-danger"></span>
                          </div>
                          <div class="form-group">
                              <label for="pwd">Password:</label>
                              <input asp-for="Password" class="form-control">
                              <span asp-validation-for="Password" class="text-danger"></span>
                          </div>
                          <div class="text-center">
                              <button type="submit" class="btn btn-primary btn-block">Login</button>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <a asp-controller="Account" asp-action="Register" ><small>Create an account.</small></a>
                              </div>
                              <div class="col text-right">
                                  <a asp-controller="Account" asp-action="ForgetPassword"><small>Forgot Password?</small></a>
                              </div>
                          </div>

                          <br />
                          <div class="text-center">
                              <label>OR</label>
                          </div>
                          <br/>
                          <div class="row">
                            <span class="g-signin2" data-onsuccess="onSignIn"></span>
                              
                            @*<span class="g-signin2 float-right" data-onsuccess="onSignIn"></span>*@
                          </div>
                      </form>
                  </div>

              </div>
          </div>



    <a href="#" onclick="signOut();">Sign out</a>

</div>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        window.location.href = '/Home/Index';
    }


    
</script>

