
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container">
    <br /><br />
    <div class="jumbotron">
        <div>
            <img src="~/images/NM_logo.png" alt="Nexamind Logo" style="max-height:200px;" class="img-fluid rounded mx-auto d-block" />
        </div>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="form-group">
                <label for="usr">Username:</label>
                <input type="text" class="form-control" id="usr" name="username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            
            <br/>
            <div class="text-center">
                <label>OR</label>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>

                </div>
                <div class="col-md-6">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
        </form>
    </div>



    <a href="#" onclick="signOut();">Sign out</a>

</div>

<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        window.location.href = '/Home/Index';
    }


    
</script>

